################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/StockWise360/bin/Debug
/StockWise360/obj
/StockWise360/StockWise360.csproj.user
